# EditorConfig helps developers define and maintain consistency
# coding styles between different editors and IDEs
# http://editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 1
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{md,mdx}]
trim_trailing_whitespace = false
max_line_length = 80

[*.{html,vue,css,less,sass,scss,js,ts,jsx,tsx,mjs}]
max_line_length = 80

[*.{xml,phtml,php}]
max_line_length = 120
