@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
	margin: 0px;
}
/* Header Bar and Text */
header {
	text-align: center;
	padding: 5px;
	font-weight: normal;
	background-color: #69bbc3;
	color: white;
	font-family: 'Ubuntu',sans-serif;
	height: 11vh;
	font-size: 3vh;
	display: flex;
    justify-content: center;
    align-items: center;
}


.dataDisplay {
	height: 89vh;
	background-image:url("images/jermass.png");
	backdrop-filter: blur(5px);
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	color: #ffffff;
	font-family: 'Ubuntu',sans-serif;
}

.dataDisplay > h1 {
	margin: 10px;
	font-size: 12.5vw;
	font-weight: 700;
}
/* Amount in Words */
.dataDisplay > h2 {
	text-align: center;
	line-height: 200%;
	margin: 5px;
	font-size: 150%;
}
/* History of the debt text */
article {
	font-family: 'Ubuntu',sans-serif;
	font-size: 150%;
	line-height: 200%;
	text-align: center;
	background-color: #404040;
	color: white;
}

article > div {
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
}

lh {
	font-weight: bold;
}

.paid {
	text-align: left;
	background-color: darkgreen;
	padding-bottom: 30px;
	padding-top: 20px;
}

/* Paid Body */
.paid > li {
	font-size: 97%;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Paid Title */
.paid > .lh {
	text-align: left;
	text-align: center;
	font-size: 105%;
	width: 100vw;
	background-color: #003A00;
	margin-left: -10.5vw;
	margin-top: -20px;
	margin-bottom: 5px;
}
/* Debt Added Body */
.added {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 1px;
	background-color: darkred;
}
/* Debt Added Title */
.added > .lh {
	text-align: left;
	text-align: center;
	font-size: 105%;
	width: 100vw;
	background-color: #510000;
	margin-left: -10.5vw;
	margin-top: -50px;
	margin-bottom: 5px;
}


.added > li {
	font-size: 97%;
	margin-top: 15px;
	margin-bottom: 15px;
}

footer {
	padding-top: 15px;
	padding-bottom: 15px;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}